
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
.header-section {
    width: 768px;
    height: 40px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header1png{
    margin: 8px 0 8px 37px;
}
.header2png{
    margin: 8px 30px 8px 0;
}
main{
    width: 768px;
    
    margin: 0 auto;
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 50px;
}
.center{
    text-align: center;
}
.h1main{
    font-size: 24px;
    color: #2B2B2B;
    line-height: 29.66px;
  
}
.subTextH1{
    color: #767676;
    font-size: 15px;
    line-height: 24px;
}
.main-header{
    margin-bottom: 25px;
}
.main-section{
    background-color: white;
    flex-wrap: wrap;
    padding: 52px 25px 0 25px;
    display: flex;
    column-gap: 50px;
    
    
}
.UniversityOfToronto{
    color: #2B2B2B;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    width: 184px;
}
.pStudent{
    color: #767676;
    font-size: 15px;
    line-height: 24px;
    margin-right: 14px;
    

}
.pTime{
    background-color:  #FFB400;
    color: white;
    font-size: 10px;
    line-height: 10px;
    padding: 4px 7px;
}
.CertificateWeb{
    color: #2B2B2B;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}
.subTextCertificateWeb{
    color: #767676;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    width: 404px;
}
.hr{
    color: #F0F0F6;
    display: block;
    border: 1px solid;
    width: 100vw;
    margin: 25px 0 0 0;
}
.section-prgramming{
    display: flex;
    padding-left: 25px;
    padding-top: 25px;
    background-color: white;
    column-gap: 50px;
    flex-wrap: wrap;
}
.programmingCourse{
    width: 184px;
    color: #2B2B2B;
    font-size: 17px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 22.25px;
    word-wrap: break-word;
    margin-bottom: 13px;
}
.subTextProgrammingStudent{
    color: #767676;
    font-size: 15px;
    line-height: 24px;
    margin-right: 14px;
}
.subTextProgrammingDate{
    background-color: #FFB400;
    padding: 4px 7px;
    color: white;
    font-size: 10px;
    line-height: 10px;
}
.footer{
    height: 60px;
}
.footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}
.Copyright{
    margin-right: 15px;
}

